* {
    padding: 0;
    margin: 0;
    max-width: 100%;
}

/* Opmaak alle pagina's */

@font-face {
    font-family: "ss";
    src: url("./fonts/ssbold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "ss";
    src: url("./fonts/ssbook.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ss";
    src: url("./fonts/sslight.otf") format("opentype");
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: "futura";
    src: url("./fonts/futurabold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "futura";
    src: url("./fonts/futurabook.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "futura";
    src: url("./fonts/futuralight.ttf") format("truetype");
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: "futura";
    src: url("./fonts/futurabookitalic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

body {
    background-color: #f8f8f8;
}

header {
    background-color: #000B8D;
    border-radius: 0px 0px 15px 15px;
}



ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    
}

li {
    margin-right: 2em;
    font-family: "futura";
    text-decoration: none;
    background-color: #db0840;
    margin: 3em 0em;
    padding: 22px 10px;
    border-radius: 6px;
    font-size: 19px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 1.5px;
    

}

li:hover {
    background-color: #f30b47;
}

a:active {
    background-color: #f30b47;
}

a:focus {
    background-color: #f30b47;
}

li>a {
    color: white;
    text-decoration: none;
    padding: 20px 90px;
    
}

li>a>img {
    scale: 600%;
    width: 40px;
    background-color: #000B8D;
}

h1 {
    text-align: center;
    color: black;
    font-family: "futura";
    font-weight: bold;
    font-size: 80px;
    margin: 30px 0px 10px 0px;
}

h2 {
    text-align: center;
    color: grey;
    font-family: "futura";
    font-weight: normal;
    font-size: 30px;
    margin-bottom: 3em;
}

p {
    line-height: 125%;
    font-family: "Futura";
    font-weight: normal;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2em;
    font-size: 20px;
}

footer>p {
    text-align: center;
    color: grey;
    font-size: 20px;
}



/* Opmaak per pagina */


/* index */

main#index h3 {
    font-family: "futura";
    font-weight: bold;
    font-size: 65px;
    text-align: left;
    margin-left: 205px;

}

main#index p {
    text-align: left;
}

/* drankjes */

main#drankjes p {
    text-align: left;
}

main#drankjes section {
    display: flex;
    
}

.blik {
    width: 200px;
}
main#drankjes article {
    font-family: "Futura";
    padding: 5vh 10vh 20vh 10vh;
    display: flex;
    flex-direction: row;
}

article>section {
    display: flex;
    flex-direction: column;

}

article>section>h3 {
    padding-left: 50px;
    margin-right: 50px;
    font-size: 60px;
}

article>section>h4 {
    color: grey;
    font-family: "Futura";
    font-weight: bold;
    font-style: italic;
    padding-left: 50px;
    margin-right: 50px;
    font-size: 35px;
}

article>section>p {
    color: #f30b47;
    padding-top: 25px;
    margin-left: 50px;
    width: 28vw;
    font-size: 20px;
    text-align: left;
    
}

/* f1 */

.links {
    justify-content: left;
    background: linear-gradient(90deg, #F8F8F8, #F8F8F8 48%, black 49%, black 51%, #F8F8F8 52%);
}

.rechts {
    justify-content: flex-end;
    background: linear-gradient(90deg, #F8F8F8, #F8F8F8 48%, black 49%, black 51%, #F8F8F8 52%);
}

.links * {
    max-width: 24vw;
    padding-right: 20px;
}

.rechts * {
    max-width: 24vw;
    padding-left: 10px;
    margin-left: 0;
}

.links > img {
    width: 25vh;
    height: 20vh;
}

.rechts > img {
    height: 27vh;
    width: 28vh;
}

/* overig */
main#f1 article {
    font-family: "Futura";
    padding: 5vh 10vh 10vh 10vh;
    display: flex;
    flex-direction: row;
}

main#overig h3 {
    font-family: "futura";
    font-weight: bold;
    font-size: 65px;
    text-align: left;
    margin-left: 205px;
   
}

main#overig h4 {
    font-family: "futura";
    font-weight: normal;
    font-style: italic;
    color: grey;
    font-size: 30px;
    text-align: left;
    margin-left: 205px;
    margin-bottom: 20px;
}

main#overig p {
    margin-top: 3px;
    margin-bottom: 10px;
}

main#overig>img {
    margin-left: 440px;
    margin-bottom: 20px;
}

main#overig>video {
    margin-left: 205px;
    margin-bottom: 40px;
    max-width: 600px;
    max-height: 600px;
}